.app {
    height: 90vh;
    display: flex;
}
#maze-settings {
    width: 350px;
    background: var(--gray-theme);
    color: var(--black-theme);
    text-align: center;
}
.top-bar {
    background: var(--white-theme);
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#maze-ui {
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ui-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
}
.ui-container h2 {
    margin-bottom: 5px;
}
.row-flex h2,
.row-flex label {
    flex-basis: 100%;
}
.checkbox,
input[type="range"] {
    vertical-align: middle;
}
article {
    display: inline;
}
select {
    text-align: inherit;
    padding: 3px 0;
}
#canvas-container {
    flex-grow: 1;
    height: 100%;
}
canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid var(--white-theme);
}


@media only screen and (max-width: 800px) {
    html {
        font-size: 18px;
    }
    #navbar {
        padding: 0 20px;
        font-size: 0.75rem;
    }
    .links {
        gap: 30px;
    }
    #maze-settings {
        width: 350px;
        position: absolute;
        top: 10vh;
        left: 0;
        height: calc(100% - 10vh);
        transform: translateX(-100%);
        transition: transform 0.25s ease-in;
        z-index: 1;
    }
    #canvas-container {
        width: 100%;
    }
    #menu-button {
        display: block;
        object-fit: cover;
        width: 30px;
        height: 30px;
        background: white;
        padding: 5px;
        border-radius: 2px;
    }
}
@media only screen and (max-width: 500px) {
    #maze-settings {
        width: 250px;
    }
    .links {
        display: none;
    }
}
