.app {
    height: 90vh;
    display: flex;
}
#maze-settings {
    width: 350px;
    background: var(--gray-theme);
    color: var(--black-theme);
    text-align: center;
}
.top-bar {
    background: var(--white-theme);
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#maze-ui {
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ui-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
}
.ui-container h2 {
    margin-bottom: 5px;
}
.row-flex h2,
.row-flex label {
    flex-basis: 100%;
}
.checkbox,
input[type="range"] {
    vertical-align: middle;
}
article {
    display: inline;
}
select {
    text-align: inherit;
    padding: 3px 0;
}
#canvas-container {
    flex-grow: 1;
    height: 100%;
}
canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid var(--white-theme);
}