@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* CSS VARIABLES */
:root {
    --green-theme: rgb(80, 200, 30);
    --white-theme: rgb(220, 220, 220);
    --black-theme: rgb(40, 40, 40);
    --gray-theme: rgb(200, 200, 200);
    --blue-theme: rgb(50, 190, 240);
    --red-theme: rgb(255, 60, 60);
}

/* STYLING AND FONTS FOR WEBPAGE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: var(--white-theme);
}
body {
    background: var(--black-theme);
    height: 100vh;
}

/* GENERAL CLASSES */
.button {
    padding: 6px 8px;
    border: 1px solid black;
    border-radius: 8px;
    transition: filter 0.2s;
}
.button:hover {
    filter: brightness(105%);
    cursor: pointer;
}
.button:active {
    filter: brightness(110%);
}
.button[data-active] {
    border: 1.5px solid red;
}
.col-flex {
    flex-direction: column;
}
.row-flex {
    flex-direction: row;
}

/* Colors */
.green-bg {
    background: var(--green-theme);
}
.blue-bg {
    background: var(--blue-theme);
}
.red-bg {
    background: var(--red-theme);
}